@charset "UTF-8";

body {
    background-color: rgba(141, 224, 18, 0.151);
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    text-align: justify;
}

h1 {
    color: brown;
    text-align: center;
}

h1#principal {
    color: darkorange;
    text-align: center;
   
}

h2 {
    color: rgb(38, 21, 133);
}

.basico {
    color: chartreuse;
    font-weight: bold;
}

.intermediario {
    color: red;
}

.avancado {
    color: blue ;
}

.destaque {
    background-color: aqua;
}